@model RegisterAndLoginApp.Models.UserModel
<!--- Search box to enter the ID to search for --->
<div class="col1">
    <div class="pad1_1"></div>
    <h2>Search by ID</h2>
    <form id="frmSearch" method="post" asp-controller="User" asp-action="Index">
        <div class"wrapper">
            <div class="bg">
                <input name="id" type="number" class="input input1" placeholder="Enter ID to search" />
            </div>
        </div>
        <div>
            <br />
            <input type="submit" value="search" class="button2" />
        </div>
    </form>
</div>
<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>
<div>
</div>
